<!-- {{msgFromParent}} -->
<footer class="footer">
    <div class="row">
     <div>
    <div class="text-center">
    <a href="#"
    ><img
    src="../../assets/Images/instagram.png"
   height="29"
     width="29"
    /></a>
     <a href="#"
    ><img src="../../assets/Images/twitter.png" height="29" width="29"
     /></a>
     <a href="#"
     ><img src="../../assets/Images/facebook.png" height="29" width="29"
     /></a>
     <a href="#"
      ><img src="../../assets/Images/linkedin.png" height="29" width="29"
     /></a>
     <a href="#"
      ><img src="../../assets/Images/youtube.png" height="29" width="29"
     /></a>
        </div>
       </div>
       <div class="text-center">
        <a class="copyright-text"
     >© Copyright 2024 - FOODTOORDER. All rights reserved.</a
        >
       </div>
      </div>
    </footer>