<form [formGroup]="addUserForm" (ngSubmit)="onSubmit(addUserForm.value)" class="ui form">

    <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="firstName" FormControlName="firstName" placeholder="First Name">
      </div>
    
      <div class="mb-3">
          <label for="lastName" class="form-label">Last Name</label>
          <input type="text" class="form-control" id="lastName" FormControlName="lastName" placeholder="Last Name">  
        </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" FormControlName="email" aria-describedby="emailHelp" placeholder="Email">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" FormControlName="password" placeholder="Password">
      </div>
  
      <div class="mb-3">
        <label for="role" class="form-label">Role</label>
        <input type="text" class="form-control" id="role" FormControlName="role" placeholder="Role">  
      </div>
      
      <div class="mb-3">
        <label for="houseno" class="form-label">House No.</label>
        <input type="text" class="form-control" id="houseno" FormControlName="houseno" placeholder="House No.">  
      </div>
      <div class="mb-3">
        <label for="street" class="form-label">Street</label>
        <input type="text" class="form-control" id="street" FormControlName="street" placeholder="Street">
      </div>
    
      <div class="mb-3">
          <label for="area" class="form-label">Area</label>
          <input type="text" class="form-control" id="area" FormControlName="area" placeholder="Area">  
        </div>
        
        <div class="mb-3">
          <label for="city" class="form-label">City</label>
          <input type="text" class="form-control" id="city" FormControlName="city" placeholder="City">  
        </div>
        <div class="mb-3">
          <label for="pincode" class="form-label">Pincode</label>
          <input type="text" class="form-control" id="pincode" FormControlName="pincode" placeholder="Pincode">  
        </div>
        <div class="mb-3">
          <label for="country" class="form-label">Country</label>
          <input type="text" class="form-control" id="country" FormControlName="country" placeholder="Country" value="">  
        </div>
        
      
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
