<div class="homepageBanner">
  <div class="overlay">
    <div class="bannerDiv">
      <span class="bannerText"> We believe Good Food</span><br/>
      <span class="bannerText"> Offer Great Smile </span><br/>
      <span class="bannerText2"> Want a delicious meal but no time? We will deliver it hot and yummy.</span><br/>
      <span class="bannerText2"> Yummy food which will please you with time, money, and tummy.</span>
    </div>
   
  </div>
</div>


<div class="container" [ngStyle]="{'marginTop':'20px'}">
  <div class="row">
    <div class="col-md-4" *ngFor="let dish of arrDishes">
      <div class="card h-100" [ngStyle]="{'marginTop':'20px'}">
        <img class="card-img-top" [src]="dish.img_path" alt="dish image" style="height: 200px; object-fit: cover;">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ dish.dishName }}</h5>
          <h6 class="card-title">Rs. {{ dish.price }}</h6>
          <p class="card-text flex-grow-1">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<a [routerLink]="['/restaurants']" class="btn btn-primary" [ngStyle]="{'margin':'0 auto',
  'display':'block','marginTop':'40px'}">View More</a>





<!-- <div *ngFor="let dish of arrDishes">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" [src]="dish.img_path" alt="dish image">
        <div class="card-body">
          <h5 class="card-title"> {{dish.dishName}}</h5>
          <h6 class="card-title"> Rs. {{dish.price}}</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
        </div>
      </div>
    </div>
    <a [routerLink]="['/restaurants']" class="btn btn-primary" >View More</a> -->
   
