a {
  font-size: 14px;
  font-weight: 700;
}
.superNav {
  font-size: 13px;
}
.form-control {
  outline: none !important;
  box-shadow: none !important;
}

@media screen and (max-width: 540px) {
  .centerOnMobile {
    text-align: center;
  }
}

.cart-count {
  background-color: #dc3545;
  color: white;
  text-align: center;
  border-radius: 100%;
  font-size: 0.6rem;
  height: 1rem;
  width: 1rem;
  margin-top: 0;
}
