<nav
  class="navbar navbar-expand-lg sticky-top navbar-light p-3 shadow-sm bg-transparent fixed-top"
>
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']"
      ><img
        src="../assets/Images/FoodToOrderLogo.png"
        style="height: auto; width: 120px"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- <div class="mx-auto my-3 d-lg-none d-sm-block d-xs-block">
      <div class="input-group">
        <span class="border-warning input-group-text bg-warning text-white"><i class="fa-solid fa-magnifying-glass"></i></span>
        <input type="text" class="form-control border-warning" style="color:#7a7a7a">
        <button class="btn btn-warning text-white">Search</button>
      </div>
    </div> -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <!-- <div class="ms-auto d-none d-lg-block">
        <div class="input-group">
          <span class="border-warning input-group-text bg-warning text-white"><i class="fa-solid fa-magnifying-glass"></i></span>
          <input type="text" class="form-control border-warning" style="color:#7a7a7a">
          <button class="btn btn-warning text-white">Search</button>
        </div>
      </div> -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link mx-2 text-uppercase"
            aria-current="page"
            [routerLink]="['/home']"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" [routerLink]="['/aboutus']"
            >About Us</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" [routerLink]="['/contactus']"
            >Contact Us</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link mx-2 text-uppercase"
            [routerLink]="['/restaurants']"
            >Restaurants</a
          >
        </li>
        <li *ngIf="isAdmin()" class="nav-item">
          <a class="nav-link mx-2 text-uppercase" [routerLink]="['/admin']"
            >Admin</a
          >
        </li>
        <li class="nav-item">
          <a
            href=""
            class="nav-link mx-2 icon"
            data-bs-toggle="modal"
            data-bs-target="#contactModal"
            *ngIf="LoggedIn() && !isAdmin()"
            ><img
              src="../assets/Images/support.png"
              style="height: 24px; width: 24px"
          /></a>
        </li>

        <li>
          <a
            href=""
            class="nav-link mx-2 icon"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal2"
            *ngIf="LoggedIn() && !isAdmin()"
            style="margin-left: 20px"
          >
            <img
              src="../assets/Images/shopping-cart.png"
              style="height: 24px; width: 24px"
            />
          </a>
        </li>

        <li class="nav-item">
          <!-- Button trigger modal -->
          <a
            href=""
            class="nav-link mx-2 icon"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            *ngIf="!LoggedIn()"
          >
            <img
              src="../assets/Images/login.png"
              style="height: 24px; width: 24px"
            />
          </a>
        </li>

        <li class="nav-item">
          <!-- Button trigger modal -->
          <a
            href=""
            class="nav-link mx-2 icon"
            data-bs-toggle="modal"
            (click)="Logout()"
            *ngIf="LoggedIn()"
          >
            <img
              src="../assets/Images/logout.png"
              style="height: 24px; width: 24px"
            />
          </a>
        </li>
      </ul>
      <!-- <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" data-bs-toggle="modal" data-bs-target="#exampleModal2" *ngIf ="LoggedIn()"><i class="fa-regular fa-cart-shopping"></i>Cart</a>
        </li>
        
      </ul> -->
    </div>
  </div>
</nav>

<p-toast position="top-right" key="tr"> </p-toast>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Sign In</h1>
        <button
          id="ModalClose"
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          [formGroup]="loginForm"
          (ngSubmit)="verifyCredentials(email, pwd)"
        >
          <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input
              type="email"
              class="form-control"
              formControlName="email"
              #email
              placeholder="name@example.com"
            />
            <div
              *ngIf="
                loginForm.get('email')?.invalid &&
                loginForm.get('email')?.touched
              "
              class="text-danger"
            >
              <div *ngIf="loginForm.controls['email'].hasError('required')">
                Email is required.
              </div>
              <div *ngIf="loginForm.controls['email'].hasError('email')">
                Please enter a valid email address.
              </div>
            </div>
          </div>

          <label for="password" class="form-label">Password:</label>
          <input
            type="password"
            #pwd
            formControlName="password"
            class="form-control"
            aria-describedby="passwordHelpBlock"
          />
          <div id="passwordHelpBlock" class="form-text">
            Your password must be 8-20 characters long, contain letters and
            numbers or some special characters, and must not contain spaces, or
            emoji.
          </div>
          <div
            *ngIf="
              loginForm.get('password')?.invalid &&
              loginForm.get('password')?.touched
            "
            class="text-danger"
          >
            <div *ngIf="loginForm.controls['password'].hasError('required')">
              Password is required.
            </div>
          </div>

          <button type="submit" class="btn btn-danger mt-3">Login</button>
          <button
            type="button"
            class="btn btn-danger mt-3"
            data-bs-toggle="modal"
            data-bs-target="#Register"
            *ngIf="!LoggedIn()"
            style="margin-left: 20px"
          >
            Register
          </button>
        </form>

        <div *ngIf="!validUser" style="color: red">
          Sorry wrong credentials... Please try again!
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Cart</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <app-cart></app-cart>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="contactModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Support</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <app-contact-form></app-contact-form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="Register"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Register</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <app-add-user2></app-add-user2>
      </div>
    </div>
  </div>
</div>
