<mat-stepper #stepper>
    <mat-step [stepControl]="firstOrderFormGroup">
      <form [formGroup]="firstOrderFormGroup" (ngSubmit)="saveFirstStepData(firstOrderFormGroup)">
        <mat-toolbar color="primary">
            Add Order Details
          </mat-toolbar>
        <div class="form-group" *ngIf="arrUsers | async as users">
            <label class="form-label" for="id"> Select a user for Update:</label>
            <select class="form-select" id="id" formControlName="id" (change)="onUserSelected($event)">
              <option selected>Select a value</option>
              <option *ngFor="let user of users" [value]="user.id">{{ user.firstName }}</option>
            </select>
        </div>
        <div class="form-group" *ngIf="arrOrders | async as orders">
            <label class="form-label" for="id"> Select an order for Update:</label>
            <select class="form-select" id="id" formControlName="id">
              <option selected>Select a value</option>
              <option *ngFor="let order of orders" [value]="order.id">Order ID: {{ order.id}}, Order Date: {{ order.order_date}}</option>
            </select>
        </div>
        <div>
          <button mat-button matStepperNext type="submit">Save</button>
        </div>
        <div>
          <button mat-button matStepperNext >Next</button>
        </div>
      </form>
    </mat-step>
  
   
    <!-- <mat-step [stepControl]="secondFormGroup" label="Add the dishes" >
      
        <form class="basic-container" [formGroup]="dishForm" (ngSubmit)="saveSecondStepData(dishForm.value)" >
          <mat-toolbar color="primary">
            Add/Remove Multiple Dishes
          </mat-toolbar>
          <div formArrayName="dishes">
            <div class="row" *ngFor="let dish of dishes().controls; let i = index"
                [formGroupName]="i">            
  
              <mat-form-field class="col-4">
                <input matInput formControlName="dNameCtrl" placeholder="Dish Name" >                    
              </mat-form-field>

              <mat-form-field class="col-4">
                <input matInput formControlName="priceCtrl" placeholder="Price" >                           
              </mat-form-field>           
              
              <mat-form-field class="col-4">
                <input matInput formControlName="imageCtrl" placeholder="Image Path" >                           
              </mat-form-field>           
  
              
              <div class="col-3">
                <button class="float-left" mat-icon-button color="primary" aria-label="Remove/clear"
                    (click)="removeOrClearDish(i)" matTooltip="Remove">
                  <mat-icon>highlight_off</mat-icon>
                </button>
                <button class="float-left" mat-icon-button color="primary" aria-label="Add"
                    (click)="addDishFormGroup()" matTooltip="Add">
                  <mat-icon>add_circle_outline</mat-icon>
                </button>
              </div>

            </div>
          </div>

          <div>
            <button mat-button matStepperNext type="submit">Save</button>
          </div>
        </form>
  
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step> -->
  </mat-stepper>