h2{
    font-weight: 600;
    color: #272042;
    font-family: 'SignikaNegative';
}
.aup{
    margin-top: 30px;
    margin-right: 10rem;
}
p{
    font-size: 1rem;
    
}
h4{
    font-weight: 600;
    color: #272042;
    font-family: 'SignikaNegative';
}