h2{
    font-weight: 600;
    color: #272042;
    font-family: 'SignikaNegative';
}
.aup{
    margin-top: 30px;
    margin-right: 10rem;
}
p{
    font-size: 1rem;
    
}
h4{
    font-weight: 600;
    color: #272042;
    font-family: 'SignikaNegative';
}

.accordion-item{
    background-color: #f2f6f7;
}

.accordion-button{
    background-color: #f2f6f7;
}

@media only screen and (max-width: 750px) {
    .aboutUsInfo{
        text-align: center;
    }
    .aup{
        margin-right: 0;
    }
}

