<div style="background-color: #f2f6f7">
  <div class="container-fluid row" >
    <div class="col-md-6" >
      <img 
        src="../../../assets/Images/aboutUsImg1.png"
        
      />
    </div>
    <div class="col-md-6" style=" padding-left: 2rem">
      <h2 style="margin-top: 5rem">About Us</h2>
      <p class="aup">
        Welcome to FoodToOrder, your number one source for all things related to
        food delivery. We're dedicated to providing you the best online food
        ordering experience, with a focus on dependability, customer service,
        and uniqueness.
      </p>

      <p class="aup">
        Founded in 2024, FoodToOrder has come a long way from its beginnings in
        Bangalore. When we first started out, our passion for food delivering
        drove us to work hard, and gave us the impetus to turn hard work and
        inspiration into to a booming online store. We now serve customers all
        over World, and are thrilled to be a part of the booming wing of the
        food industry.
      </p>

      <p class="aup">
        We hope you enjoy our products as much as we enjoy offering them to you.
        If you have any questions or comments, please don't hesitate to contact
        us.
      </p>
    </div>
  </div>

  <div style="margin-top: 3rem">
    <div style="text-align: center">
      <h2>How it works</h2>
    </div>

    <div
      class="flex-container"
      style="display: flex; justify-content: center; align-items: center"
    >
      <div style="display: inline-block">
        <img src="../../../assets/Images/aboutUsImg2.png" />
      </div>
      <div style="width: 30%; display: inline-block; margin-left: 3rem">
        <h4>1. We bring you a diverse menu</h4>
        <p>
          Explore our extensive menu featuring a variety of cuisines. Whether
          you're in the mood for Italian, Chinese, or something else, we've got
          you covered.
        </p>
      </div>
    </div>

    <div
      class="flex-container"
      style="display: flex; justify-content: center; align-items: center"
    >
      <div style="width: 30%; display: inline-block">
        <h4>2. Simple ordering process</h4>
        <p>
          Ordering with us is easy! Simply browse our menu, select your favorite
          dishes, and proceed to checkout. It's that simple!
        </p>
      </div>
      <div style="display: inline-block">
        <img src="../../../assets/Images/aboutUsImg3.png" />
      </div>
    </div>
    <div
      class="flex-container"
      style="display: flex; justify-content: center; align-items: center"
    >
      <div style="display: inline-block">
        <img src="../../../assets/Images/aboutUsImg4.png" />
      </div>
      <div style="width: 30%; display: inline-block; margin-left: 3rem">
        <h4>3. Quick and convenient delivery</h4>
        <p>
          Once your order is placed, our team gets to work. We'll prepare your
          food fresh and deliver it straight to your doorstep, so you can enjoy
          a delicious meal without leaving the comfort of your home.
        </p>
      </div>
    </div>
  </div>

  <div style="width: 70%; margin: 3rem auto 0 auto; padding-bottom: 3rem">
    <div style="text-align: center">
      <h2>FAQs</h2>
      <p>Order your dishes from anywhere</p>
    </div>

    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne"
            aria-expanded="false"
            aria-controls="flush-collapseOne"
          >
            <b>How does the food delivery process work?</b>
          </button>
        </h2>
        <div
          id="flush-collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingOne"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Our food delivery process is simple and convenient. Just browse
            through our extensive menu, select the items you'd like to order,
            and proceed to checkout. Once your order is placed, our team will
            prepare your food fresh and deliver it to your doorstep within the
            estimated delivery time.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo"
            aria-expanded="false"
            aria-controls="flush-collapseTwo"
          >
            <b>What are your delivery hours?</b>
          </button>
        </h2>
        <div
          id="flush-collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingTwo"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Our delivery hours vary depending on the restaurant and your
            location. Generally, we offer delivery from [start time] to [end
            time] every day of the week. You can check the delivery hours for
            specific restaurants in your area by entering your delivery address
            on our website.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree"
            aria-expanded="false"
            aria-controls="flush-collapseThree"
          >
            <b>How much does delivery cost?</b>
          </button>
        </h2>
        <div
          id="flush-collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingThree"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Delivery fees vary depending on your location and the restaurant
            you're ordering from. When you place an order, the delivery fee will
            be displayed before you checkout. Additionally, we offer free
            delivery on orders over a certain amount.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFour"
            aria-expanded="false"
            aria-controls="flush-collapseFour"
          >
            <b>Can I track my order?</b>
          </button>
        </h2>
        <div
          id="flush-collapseFour"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingFour"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Yes, you can track your order in real-time! Once your order is
            confirmed, you will receive a confirmation email or SMS with a
            tracking link. Click on the link to see the status of your order and
            track the delivery driver's location.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFive">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFive"
            aria-expanded="false"
            aria-controls="flush-collapseFive"
          >
            <b>What if there's an issue with my order?</b>
          </button>
        </h2>
        <div
          id="flush-collapseFive"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingFive"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            If you encounter any issues with your order, such as missing items
            or incorrect items, please contact our customer support team
            immediately. You can reach us via phone, email, or live chat, and
            we'll do our best to resolve the issue promptly and to your
            satisfaction. Your feedback is important to us, and we're here to
            ensure you have a positive experience every time you order from us!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
