
<div style="background-color: #f2f6f7;">
  <div style="display: flex;">
    <div style="width: 50%; display: inline-block;">
        <img src="../../../assets/Images/aboutUsImg1.png" style="margin-left: 5rem;"/>
    </div>
    <div style=" width: 50%;  display: inline-block ;">
     <h2 style="margin-top: 5rem;" >About Us</h2>
     <p class="aup">Welcome to FoodToOrder, your number one source for all things related to food delivery. 
      We're dedicated to providing you the best online food ordering experience, with a focus on dependability, customer service, and uniqueness.</p>
  
   <p class="aup">Founded in 2024, FoodToOrder has come a long way from its beginnings in Bangalore. When we first started out, our passion for food delivering 
    drove us to work hard, and gave us the impetus to turn hard work and inspiration into to a booming online store. 
    We now serve customers all over World, and are thrilled to be a part of the booming wing of the food industry.</p>
  
  <p class="aup">We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.</p>
  
    </div>
  </div>


  <div style="margin-top: 3rem;">
    <div style="text-align: center;">
      <h2>How it works</h2>
      <p>sdfsfd ffdfg dsadsad gdgdfg wrewerwe sdfsdfsd<br>dfsdff sfsdfs werwer fsdfsdf gdfgfdg wqeqwe</p>
    </div>

    
      <div class="flex-container" style="display: flex; justify-content: center; align-items: center;">
        <div style="display: inline-block;">
            <img src="../../../assets/Images/aboutUsImg2.png"/>
        </div>
        <div style="display: inline-block ; margin-left: 3rem;">
         <h4 >dfsdfsfb fsdfsd werwer <br> fsdfafd erwer sdfsaf<br>sfsaf werwe ghfgh</h4>
         <p >fdsgfb gg retw sfgdh hfgj trete gdfsd jhfhjd <br>dsdg rteryt hgfdh fsafd qreqwr.</p>
        </div>
      </div>
    
      <div class="flex-container" style="display: flex; justify-content: center; align-items: center;">
        
        <div style="display: inline-block ; ">
         <h4 >dfsdfsfb fsdfsd werwer <br> fsdfafd erwer sdfsaf<br>sfsaf werwe ghfgh</h4>
         <p >fdsgfb gg retw sfgdh hfgj trete gdfsd jhfhjd <br>dsdg rteryt hgfdh fsafd qreqwr.</p>
        </div>
        <div style="display: inline-block;">
          <img src="../../../assets/Images/aboutUsImg3.png"/>
      </div>
      </div>
      <div class="flex-container" style="display: flex; justify-content: center; align-items: center;">
        <div style="display: inline-block;">
            <img src="../../../assets/Images/aboutUsImg4.png"/>
        </div>
        <div style="display: inline-block ; margin-left: 3rem;">
         <h4 >dfsdfsfb fsdfsd werwer <br> fsdfafd erwer sdfsaf<br>sfsaf werwe ghfgh</h4>
         <p >fdsgfb gg retw sfgdh hfgj trete gdfsd jhfhjd <br>dsdg rteryt hgfdh fsafd qreqwr.</p>
        </div>
      </div>
  </div>


  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Accordion Item #1
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Accordion Item #2
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          Accordion Item #3
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
      </div>
    </div>
  </div>

</div>




<!-- <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Collapsible Group Item #1
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Collapsible Group Item #2
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Collapsible Group Item #3
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
  </div> -->
