<div>
    <form>
      <mat-toolbar color="primary"> Order Details </mat-toolbar>
      <div class="form-group" *ngIf="arrUsers | async as users">
        <label class="form-label" for="userid"> Select a user:</label>
        <select class="form-select" id="userid" (change)="onUserSelected($event);resetFlag()">
          <option selected>Select a value</option>
          <option *ngFor="let user of users" [value]="user.id">
            {{ user.firstName }}
          </option>
        </select>
      </div>
    </form>
    <div *ngIf="arrOrders as orders">
      <h5 *ngIf="orders.length > 0" class="text-center">ORDERS</h5>
    <div class="container-fluid" *ngFor="let order of orders; let j = index">    
        <h6>ORDER ID: {{ order.id }} | ORDER DATE: {{ order.orderDate }}</h6>

      <div class="row ">
      <div *ngFor="let dish of order.arrDishes; let i = index" class="card">
          <img [src]="dish.img_path || '../../../../assets/Images/default_img.jpg'" class="card-img-top" alt="Dish Image">
          <div class="card-body">
            <h5 class="card-title text-center">{{ dish.dishName }}</h5>
            <h6 class="card-title text-center">Price: {{ dish.price | currency : currencyCode }}, Qty: {{ order.quantity[i] }}</h6>
          </div>
        </div>
      </div>
  </div>
  <!-- <div *ngIf="orders.length == 0 && flag == 0">
    {{onNoOrdersPrompted()}}          
</div> -->
  </div>
  </div>

  <p-toast position="top-right"
    key="tr">
  </p-toast>  