
    <!-- <div *ngFor="let dish of restaurant.dishes">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" [src]="dish.img_path" alt="dish image">
        <div class="card-body">
          <h5 class="card-title"> {{dish.dishName}}</h5>
          <h6 class="card-title"> Rs. {{dish.price}}</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a class="btn btn-primary" (click)="displayDish(dish.dishName)"></a>
        </div>
      </div>
    </div> -->
    <p-toast position="top-center"
    key="tc">
</p-toast>

<p-toast position="top-right"
    key="tr">
</p-toast>


    <!-- <b>{{restaurant.id}} {{restaurant.rName}} {{restaurant.user_id}} </b>
    <br> Dishes:
    <button type="button" pButton pRipple 
    (click)="showTopCenter()" 
    label="Top Center"
class="p-button-warning"> -->

<div style="display: flex; justify-content: center;">
  <img src="../../assets/Images/restdetailsImage.jpg" style="width: 60%; height: 300px; object-fit: cover;"/>
  
</div>

    
  <div class="container" [ngStyle]="{'marginTop':'20px'}">
    <div class="row">
      <div class="col-md-4" *ngFor="let dish of restaurant.dishes">
        <div class="card h-100" [ngStyle]="{'marginTop':'20px'}" [appBlurEffect]="dish.isAvailable?1:0.5">
          <img class="card-img-top " [src]="dish.img_path" alt="dish image" style="height: 200px; object-fit: cover;">
         
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{dish.dishName}}</h5>
            <h6 class="card-title"> {{dish.price | currency : 'INR'}}</h6>
            <p class="card-text flex-grow-1">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a *ngIf="!isAdmin() && dish.isAvailable" class="btn btn-primary" (click)="addToCart(dish)" >Add To Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>

